node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.next
.idea
.vscode
*.pem
.DS_Store
coverage
.eslintcache
.prettierignore
.husky
dist
build
*.log
yarn-error.log
package-lock.json
.turbo
